= flash
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  -# = f.error_messages
  -# = f.inputs do
  %fieldset.inputs
    %legend Личные данные
    = f.input :full_name
    = f.input :email, :as => :email, :hint => 'Для аватарки используется <a href="http://gravatar.com/" target="_blank">gravatar.com</a>'.html_safe
    = f.input :tel, :as => :tel
    - if resource.new_record?
      = f.input :password
      = f.input :password_confirmation
  -# = f.inputs do
  %fieldset.inputs
    %legend Занятость
    = f.input :occupation
    = f.input :firm
    = f.input :website, :as => :url
    = f.input :tag_list
    
  - unless resource.new_record?
    %fieldset.inputs
      %legend Дополнительно
      = f.input :twitter
      = f.input :note, :input_html => { :cols=> 55, :rows=>5 }
  -#   = f.input :discourse_state, :as => :select, :collection => {'Может быть' => :maybe, 'Да, мне есть о чем рассказать!' => :yes, 'Я только послушаю..' => :no}
  -#   = f.input :discourse_subject
  -#   = f.input :price_confirm, :as => :select, :collection => {'Да' => true, 'Нет, только на халяву!' => false}
    -#= f.input :note
  -# = f.buttons do
  %fieldset.buttons
    -# = f.button :submit
    %center
      %button.thoughtbot= (resource.new_record? ? 'Зарегистрироваться' : 'Сохранить изменения')

-# = render :partial => "devise/shared/links"
