.comments
  -if ! commentable.instance_of?(Comment)#Если не комментарий
    %h2.comments-header
      комментарии (
      %span.js-comments-count
      = commentable.comments.count
      )
  - if commentable.comments.empty?
    -if ! commentable.instance_of?(Comment)#Если не комментарий
      Нет комментариев для показа.
  - else
    %ul.all_comments
      - for comment in commentable.comments
        %li.comment_holder.vote_holder{:onmouseover => "showdiv(this,'folding-dot-holder')", :onmouseout => "hidediv(this,'folding-dot-holder')"}
          .msg-meta
            .folding-dot-holder
              .folding-dot
            %ul.comment_user
              %li
                %div
                  - if @discourse.assigner
                    = link_to comment.author,comment.author
              %li.date
                %div
                  = comment.created_at(:forum_long_ago)
          .comment_content
            = comment.content
          .comment_menu
            - if can? :destroy, comment
              = link_to 'Удалить', comment, :confirm => 'Вы уверены?', :method => :delete
  - if ! commentable.instance_of?(Comment)#Если не комментарий
    .comment_new
      %h3
        Добавить комментарий
      - form_for [commentable, Comment.new()] do |f|
        = f.error_messages
        %p
          = f.label  'Сообщение'
          %br/
          = f.text_area :content, :rows => 5
          .actions
          %button.cupid-green Готово
