%li.comment{:id=>"comment_#{comment.id}"}
  .comment-details
    = show_user comment.author
    ,
    %span.comment-time
      = distance_of_time_in_words(comment.created_at, Time.now)
      назад
    %span.comment-actions
    - if can? :destroy, comment
      = link_to 'x', comment, :confirm => 'Удалить комментарий уверен?', :method => :delete, :class=>:admin, :title=>'Удалить комментарий'

  .comment-content= simple_format(h comment.content)
  = render 'comments/form', :commentable=>comment
  %ul.comments.subcomments
    = render comment.comments
