.b-user
  .avatar
    = img_gravatar( user.email, :size => 40 ).html_safe
  .name
    = link_to user.full_name, user_path( user )
  .occupation
    = user.occupation
  .user-desc
    .user-discourses-counts
      - if user.assigned_discourses.exists?
        Предложения: #{user.assigned_discourses.count}
      - if user.authored_discourses.exists?
        Доклады: #{user.authored_discourses.count}
    .tags
      = user.tag_list
