.users
  - if @tags
    .right
      = link_to "Все теги &rarr;".html_safe, root_path(:anchor=>'tags')
    %h2.left
      Поиск по тегам:
      %span #{@tags}
    .clear
  %h1
    Участники
    %span (#{@users.count})
  = render 'users/users'

- if @tags
  = link_to "&larr; все участники".html_safe, users_path
