%h2 Участник &#8470;#{@user.id}

.b-user-show
  .avatar
    = img_gravatar( @user.email, :size => 80 ).html_safe

  - if signed_in?
    = show_table( @user, [:full_name, :firm, :occupation, :email, :tel, :website, :tag_list ])
  - else 
    = show_table( @user, [:full_name, :firm, :occupation, :website, :tag_list ])
  .clear
  %p.note= @user.note

.right= link_to "другие участники &rarr;".html_safe, users_path
.left= go_back  

.clear
