= simple_form_for(@conference) do |f|
  - if @conference.errors.any?
    #error_explanation
      %h2
        = pluralize(@conference.errors.count, "error")
        prohibited this conference from being saved:

      %ul
      - @conference.errors.full_messages.each do |msg|
        %li= msg

  .inputs
    = f.input :name
    = f.input :date
    = f.input :desc

  .actions
    = f.button :submit
