%p.conference_date
  - if @conference.is_passed?
    passed at
  = @conference.date.to_s(:human)
%h1.conference_name= @conference.name
.conference_desc
  %p= simple_format @conference.desc
  %p
    Регистрация участников с #{@conference.registration_at.to_s(:time)} до #{@conference.start_at.to_s(:time)}.
    Перерыв в #{@conference.break_at.to_s(:time)} на #{@conference.break_length} минут.
    Окончание в #{@conference.finish_at.to_s(:time)}
  %p.hide
    Место проведения:
    %b= @conference.place
    (#{@conference.address})
  - unless @conference.is_passed
    .hide
      %p
        - if @conference.vacancies>0
          Количество мест ограничено, поэтому просим записаться на участие в конференции заранее.
        - else
          .red
            Извините, но свободных мест больше нет.
      .right
        = render 'conferences/register'

.hide.right{:style=>'width:300px; padding-left: 20px'}
  = render 'shared/twitter_widget'

- @conference.conference_sections.each do |cs|
  - if cs.discourses.exists?
    = render 'conference_sections/conference_section', :conference_section=>cs


-# - unless @conference.is_passed?
-#   %h2 Темы, которые ищут докладчика:

-#   %ol.free_discourses
-#     - Discourse.free.each do |discourse|
-#       %li.free_discourse= discourse

-#   = render 'discourses/form'

.hide
  = comments @conference
