%p.conference_date
  - if @conference.is_passed?
    passed at
  = @conference.date.to_s(:human)
%h1.conference_name= @conference.name
%p.conference_desc= @conference.desc.html_safe

- @conference.conference_sections.each do |cs|
  - if cs.discourses.exists?
    = render 'conference_sections/conference_section', :conference_section=>cs

- unless @conference.is_passed?
  %h2 Темы, которые ищут докладчика:

  %ol.free_discourses
    - Discourse.free.each do |discourse|
      %li.free_discourse= discourse

  = render 'discourses/form'
