%p.conference_date
  - if @conference.is_passed?
    passed at
  = @conference.date.to_s(:human)
%h1.conference_name= @conference.name
.conference_desc
  %p= @conference.desc.html_safe
  %p
    Регистрация участников с #{@conference.registration_at.to_s(:time)} до #{@conference.start_at.to_s(:time)}.
    Перерыв в #{@conference.break_at.to_s(:time)} на #{@conference.break_length} минут.
    Окончание в #{@conference.finish_at.to_s(:time)}
  %p
    Место проведения:
    %b= @conference.place
    (#{@conference.address})
  %p
    Количество мест ограничено, поэтому просим записаться на участие в конференции заранее.
  %p.right
    - if current_user and @conference.is_user_registered? current_user
      .multi-line.depressed
        %span.title Вы записаны!
        %span.subtitle= "Свободно мест: #{90-@conference.registrations.count}"

    - else
      = link_to conference_registrations_path(@conference), :class=>'multi-line-button', :method=>:post do
        %span.title Записаться..
        %span.subtitle= "Свободно мест: #{90-@conference.registrations.count}"
      - unless current_user
        %div
          Для записи на конференцию необходимо сначала
          = link_to 'войти', new_session_path('user')
          или
          = link_to 'зарегистрироваться', new_registration_path('user')
          на сайте.


- @conference.conference_sections.each do |cs|
  - if cs.discourses.exists?
    = render 'conference_sections/conference_section', :conference_section=>cs

-# - unless @conference.is_passed?
-#   %h2 Темы, которые ищут докладчика:

-#   %ol.free_discourses
-#     - Discourse.free.each do |discourse|
-#       %li.free_discourse= discourse

-#   = render 'discourses/form'

= render :partial => "shared/comments", :locals => {:item => @conference}
