%h1 Listing sections

%table
  %tr
    %th Name
    %th Desc
    %th
    %th
    %th

  - @sections.each do |section|
    %tr
      %td= section.name
      %td= section.desc
      %td= link_to 'Show', section
      %td= link_to 'Edit', edit_section_path(section)
      %td= link_to 'Destroy', section, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Section', new_section_path
