.program
  %h1 Программа конференции
  - Section.show.each do |section|
    %h2 Секция &laquo;#{section.name}&raquo;

    %ol
      - section.discourses.all.each do |d|
        %li
          - if d.kind=='discourse'
            = link_to "&laquo;#{d}&raquo;".html_safe, d
            - if d.assigner
              .assigner
                доклад, 
                = link_to d.assigner, d.assigner
            - else
              .wait_assigner ищет докладчика
          - else
            = link_to d, d
