%h1
  CHEBIT'12-10
  %br
  Технологии разработки веб-приложений.
%p
  = link_to '29-го сентября 2012 г.', 'http://www.facebook.com/events/155131824610806/'
  Чебоксары, площадь Речников, 5. Бар-Клуб Манхеттен.
  -#= link_to 'Группа на facebook', 'http://www.facebook.com/groups/chebit.ruby/'

= render 'programm'

%h1
  Регистрация

%p
  Регистрация платная (390 рублей). Количество мест ограничено (50 шт.). В стоимость билета входит комплексный обед.

%p 
  На 10 сентября свободных мест осталось 10 штук.

= link_to 'Зарегистрироваться', 'http://arwr.timepad.ru/event/32207', :class => 'multi-line-button green'


%h1
  = link_to '#chebit', 'https://twitter.com/search?q=%23chebit'
-# = render 'shared/timepad'


-# = render 'shared/fb_comments'

= render 'shared/twitter_widget'

%h1 Рассылка
%p Мы делаем рассылку редко, максимум два раза в год, анонсируя конференцию.

= render 'shared/subscribe'
-#%br/
-#%br/
-# = render 'shared/reformal_widget'

= render 'shared/about'

= render 'shared/tag_cloud'


.clear

-# .ad
-#   Объявление:
-#   = link_to 'Требуется ruby-программист на full/half-time, можно удаленно', 'https://docs.google.com/document/pub?id=1196rRixBpNSeNDvnPL2UUuBGjuStcxYTfR4M2Z3Bl-Y'
