%h1
  Веб-технологии, интернет-стартап.
-# %p 
-#   В поиске команды, финансов, идеи, технологии.
= image_tag '/images/barcamp.jpg', :width=>300, :class=>'barcamp'

%ul
  Конференция для тех, кто:
  %li Знаком с интернет-технологиями;
  %li Занимается разработкой веб-приложений: сайтов, сервисов и игр для интернет;
  %li Кому есть что рассказать и кто хочет узнать новое о любимом занятии.


- if signed_in?
  %p
    %b Вы зарегистрированы.
- else
  %br
    = link_to "<button class='cupid-green'>Регистрация..</button>".html_safe, new_registration_path(User)

%br
  %h2
    = link_to users_path do 
      Участники
      %span (#{User.all.count})
  -# %h2
  -#   = link_to discourses_path do
  -#     Доклады
  -#     %span (#{Discourse.all.count})

.clear

= render 'shared/tag_cloud'
