.welcome
.info
  %p CHEBiT &mdash; свободная конференция стартаперов и веб-раработчиков, организаторами являются сами докладчики.
  %p Идея проста &mdash; если вы хотите что-то узнать &mdash; попросите об этом рассказать, а сами расскажите о том, что знаете вы.
  %p Для презентаторов есть проектор, фломастерная достка. Все доклады записываются на камеру, позже монтируются и выкладываются в интернет.
  %p Вход свободный, желательно предварительно зарегистрироваться на сайте. Форма одежды еще более свободная. В зале бесплатный WiFi от beeline, кофе-чай-конфеты, рядом кафетерей.
  %p Легие алкогольне напитки не возбранаются, barcamp!
  .discourses_menu
    .left= link_to 'Мне есть о чем рассказать..', new_discourse_path(:me=>'assigner')
    .right= link_to 'Я бы послушал о..', new_discourse_path(:me=>'author')
    .clear
  -# %p
  -#   Еще мы предоставляем возможность молодым интернет-стартаперам получить инвестиции на свой проект. На данный момент инвестиционный пул - 1 млн. рублей.
.clear
= render "program"

-# Находим идею, команду, инвестиции.

.sidebar
  = image_tag '/images/barcamp.jpg', :width=>300, :class=>'barcamp'
  .members
    .left
      - if signed_in?
        %p
          %b Вы зарегистрированы.
      - else
        = link_to "<button class='cupid-green'>Регистрация..</button>".html_safe, new_registration_path(User)
    .link_to_all
      = link_to users_path do
        Все участники (#{User.all.count})..
  .clear

  = render 'shared/tag_cloud'

  = render 'shared/likes'


.clear
-# 1. Реклама, маркетинг и продажи в интернет.
-# Методы привлечения посетителей, управление рекламными кампаниями в интернет.

-# 2. Финансирование стартапов.
-# Поиск инвестора, бизнес-планирование, презентация бизнес-идеи.

-# 4. FrontEnd
-# Дизайн и верстка (html, css), JavaScript, Flash, юзабилити.

-# 5. Серверная разработка.
-# Управление командой, технологии разработки, PHP, Perl, Ruby, TDD/BDD, базы данных и т.д. и т.п.

-# = render 'discourses/welcome'
-# %h2
-#   = link_to discourses_path do
-#     Доклады
-#     %span (#{Discourse.all.count})
.ad
  Объявление:
  = link_to 'Требуется ruby-программист на full/half-time, можно удаленно', 'https://docs.google.com/document/pub?id=1196rRixBpNSeNDvnPL2UUuBGjuStcxYTfR4M2Z3Bl-Y'
