.info
  %p CHEBiT'11 состоялся, идет подготовка отчетов.
  %p Огромное спасибо докладчикам: Андрей Аникин, Этнер Егоров, Сергей Палькин, Дмитрий Максимов, Иван Полуянов, Игорь Исаев, Сергей Чуплыгин и всем-всем за поддержку и вопросы!
  %p Просьба <a href="http://feedback.chebit.ru/">оставлять замечания и комментарии</a> на будущее.
  %p
  %p Следующая конференция состоится по мере набора докладчиков.
  %div
    .left
      = link_to users_path do
        Участники (#{User.all.count})..
    .right= render 'shared/likes'
    .clear
  %ul
    %li 10.04.2011 <a href="http://atner.livejournal.com/115518.html">Этнер Егоров Лица конференции chebit. По горячим следам</a>

  -# %p Идея проста &mdash; если вы хотите что-то узнать &mdash; попросите об этом рассказать, а сами расскажите о том, что знаете вы.
  -# %p Для докладчиков есть проектор, фломастерная достка. Все доклады записываются на камеру, позже монтируются и выкладываются в интернет.
  -# %p Вход свободный, желательно предварительно зарегистрироваться на сайте. Форма одежды еще более свободная. В зале бесплатный WiFi от beeline, кофе-чай-конфеты, рядом кафетерий.
  -# %p Легие алкогольне напитки не возбранаются, barcamp!
  -# .discourses_menu
  -#   .left= link_to 'Мне есть о чем рассказать..', new_discourse_path(:me=>'assigner')
  -#   .right= link_to 'Я бы послушал о..', new_discourse_path(:me=>'author')
  -#   .clear


.clear

= render 'shared/twitter_widget'
%br/
%br/
-# = render 'shared/reformal_widget'

= render 'shared/tag_cloud'


.clear

.ad
  Объявление:
  = link_to 'Требуется ruby-программист на full/half-time, можно удаленно', 'https://docs.google.com/document/pub?id=1196rRixBpNSeNDvnPL2UUuBGjuStcxYTfR4M2Z3Bl-Y'
