
%p
  CHEBiT это свободная конференция стартаперов, веб-раработчиков, системных администраторов, организаторами являются сами докладчики. Идея проста - если вы хотите что-то узнать - попросите вам об этом рассказать, а сами расскажите о том, что знаете вы.
.clear
= render "program"      
      
-# Находим идею, команду, инвестиции.

.sidebar
  = image_tag '/images/barcamp.jpg', :width=>300, :class=>'barcamp'
  %ul
    %li Есть идея, ищите деньги?
    %li Занимаетесь разработкой, нужна команда?
    %li Хотите узнать новые технологии или поделиться с другими?
  .members
    .left
      - if signed_in?
        %p
          %b Вы зарегистрированы.
      - else
        = link_to "<button class='cupid-green'>Регистрация..</button>".html_safe, new_registration_path(User)
    .link_to_all
      = link_to users_path do 
        Все участники (#{User.all.count})..
  .clear
        
.clear
-# 1. Реклама, маркетинг и продажи в интернет.
-# Методы привлечения посетителей, управление рекламными кампаниями в интернет.

-# 2. Финансирование стартапов.
-# Поиск инвестора, бизнес-планирование, презентация бизнес-идеи.

-# 4. FrontEnd
-# Дизайн и верстка (html, css), JavaScript, Flash, юзабилити.

-# 5. Серверная разработка.
-# Управление командой, технологии разработки, PHP, Perl, Ruby, TDD/BDD, базы данных и т.д. и т.п.

-# = render 'discourses/welcome'
-# %h2
-#   = link_to discourses_path do
-#     Доклады
-#     %span (#{Discourse.all.count})

= render 'shared/tag_cloud'
= render 'shared/likes'
.ad
  Объявление: 
  = link_to 'Требуется ruby-программист на фулл-тайм в Чебоксарах', 'https://docs.google.com/document/pub?id=1196rRixBpNSeNDvnPL2UUuBGjuStcxYTfR4M2Z3Bl-Y'
