- if discourse.kind=='discourse'
  = link_to "&laquo;#{discourse}&raquo;".html_safe, discourse
  - if discourse.assigner
    .assigner
      = show_user discourse.assigner, true, false
      -# = link_to discourse.assigner, discourse.assigner
      ,
      #{discourse.time_length} мин.
  - else
    .wait_assigner ищет докладчика
- else
  = link_to discourse, discourse

- if discourse.conference and discourse.conference.is_passed
  %p.discourse-description
    = discourse.text.html_safe
