= simple_form_for( @discourse ) do |f|
  = hidden_field_tag :me, params[:me]
  = f.association :section, :collection => Section.show.all
  = f.input :subject
  = f.input :text, :input_html => { :cols=> 55, :rows=>5 }
  .actions
  %button.cupid-green Готово

%br