%h1 Доклады

-# Хотите сделать доклад, но не знаете насколько он будет интересен? Просто сообщите о своем желании, участники сами его оценят.
  -# Поделитесь своим опытом удачным, или не удачном. Расскажите о том, что вы знаете или разместите тему того, что хотите узнать.

%p Друзья!
%p Ни кто из нас не является профессиональным докладчиком. Конфа проходит в неформальном формате, если выхотите узнать о чем-то - попросите на эту тему сделать доклад. Есть о чем рассказать? Узнайте на сколько это будет интересно слушателям прямо сейчас.

.new_discourses
  .block.left
    %button.thoughtbot Я бы послушал о..

  .block.right
    %button.thoughtbot Сделаю доклад на тему
    -# = render 'form'
    .desc
      Незнаете на сколько интересна Ваша тема докалада? Для начала разместите ее, слушатели оценят.


.clear

%p

%table
  %tr
    %th Subject
    %th Text
    %th Author
    %th Assigner
    %th
    %th
    %th

  - @discourses.each do |discourse|
    %tr
      %td= discourse.subject
      %td= discourse.text
      %td= discourse.author_id
      %td= discourse.assigner_id
      %td= link_to 'Show', discourse
      %td= link_to 'Edit', edit_discourse_path(discourse)
      %td= link_to 'Destroy', discourse, :confirm => 'Are you sure?', :method => :delete

%br

