%p#notice= notice

.b-discourse
  %p.right
    Секция
    %span  &laquo;#{@discourse.section}&raquo;
  .clear

  %h1 Доклад &laquo;#{@discourse}&raquo;
  - if @discourse.author.present? && @discourse.author!=@discourse.assigner
    %p
      Автор темы:
      %span= @discourse.author
  %p
    Докладчик:
    - if @discourse.assigners.exists?
      - @discourse.assigners.each_with_index do |a, index|
        = index>0 ? ', ' : ''
        = show_user(a, true)
    - else
      %i
        в поисках.
      %div
        - if signed_in?
          = link_to 'взять доклад на себя', discourse_path(@discourse, :assigner=>'me'), :method=>'put', :class=>'lucid'
        - else
          = link_to 'войдите', new_user_session_path
          на сайт или
          = link_to 'зарегистрируйтесь', new_user_registration_path
          , чтобы взять этот доклад на себя
  %p.text
    = @discourse.text.html_safe
-# = link_to 'Edit', edit_discourse_path(@discourse)
-# \|
-# = link_to 'Back', discourses_path

= go_back root_path
= comments @discourse
