%p#notice= notice

.b-discourse
  %p.right
    Секция
    %span  &laquo;#{@discourse.section}&raquo;
  .clear
  %h1 Доклад &laquo;#{@discourse}&raquo;
  - if @discourse.author.present? && @discourse.author!=@discourse.assigner
    %p
      Автор темы:
      %span= @discourse.author
  %p
    Докладчик:
    - if @discourse.assigner
      = link_to @discourse.assigner, @discourse.assigner
    - else
      %i
        в поисках
  %p.text
    = @discourse.text

-# = link_to 'Edit', edit_discourse_path(@discourse)
-# \|
-# = link_to 'Back', discourses_path

= go_back