
%p
  %span Организационная группа:
  %ul.partners
    %li= link_to 'Данил Письменный', 'mailto:danil@orionet.ru'
    %li= link_to 'Сергей Палькин', 'mailto:sergey@avis-design.ru'
.clear
%p
  %span Парнтеры:
  %ul.partners
    %li= link_to 'Авис-дизайн', 'http://www.avis-design.ru/'
    %li= link_to 'На-Связи', 'http://na-svyazi.ru/'
    %li= link_to 'zhazhda.ru', 'http://zhazhda.ru/'
    %li= link_to 'ChebyToday', 'http://chebytoday.ru/'
    %li ООО "Медиа-Системы"
.clear
%p
  %span Коллеги по цеху:
  %ul.partners
    %li= link_to 'iCamp', 'http://www.icamp.ru/'
    %li= link_to 'CodeCamp', 'http://codecamp.su/'
    %li= link_to 'barcamp.su', 'http://barcamp.su/'
    %li= link_to '#devcamp', 'http://devcamp.by/'
    %li= link_to 'UWDC', 'http://2010.uwdc.ru/'
    %li= link_to '404fest', 'http://404fest.ru/'
    -# http://habrahabr.ru/tag/BarCamp/
    -# barcamp.org
    -# nevacamp.com
    -# http://citycamp.tv/
    -# http://www.slideshare.net/inxaoc/blogcamp-presentation-presentation
    -# http://www.flickr.com/photos/oleg_kurnosov/tags/barcampkazan/
.clear
-# %p
-#   Powered By Ruby On Rails
-#   %br
-#   = link_to(image_tag('/images/rails.png'),'http://rubyonrails.org/')
